/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
 *    Page de style pour la CONNETION
 * ======================================*/


#bg-connetion{
    background: url("../img/b5bcaed7.jpg") no-repeat center fixed;
}


#box-connetion .backbox{
    background: rgba(34,34,34,0.85) center fixed;
    border-radius: 2px;
    height: 400px;
    margin: 180px auto;
    display: inline-flex;
    width: 100%;
}

#box-connetion .frontbox{
    width: 420px;
    z-index: 10;
    position: absolute;
    border-radius: 10px;
    background: #F9F9F9;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,0.50);
    height: 460px;
    top: 9rem;
    padding: 70px 40px;
    color: #ababab;
    right: 24rem;
    transition: right .8s ease-in-out;

}

#box-connetion .moving{
    right:45%;
    left: 24rem;
}

#box-connetion .loginMsg, .signupMsg{
    width: 50%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
}

#box-connetion .loginMsg .title,
#box-connetion .signupMsg .title{
    font-size: 30px;
    font-weight: 500;
}

#box-connetion .loginMsg p,
#box-connetion .signupMsg p {
    font-size: 16px;
    font-weight: 100;
    margin: 50px 0;
}

#box-connetion .textcontent{
    color: #ccc;
    padding: 70px 50px;
}

#box-connetion .loginMsg button,
#box-connetion .signupMsg button {
    border: 1px solid #ccc;
    color: #ccc;
    padding: 15px 30px;
    background-color: transparent;
    font-weight: 500;
    min-width: 5.5rem;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

/* front box content*/
#box-connetion .login, .signup{
    padding: 20px;
    /* text-align: center; */
}

#box-connetion .login h2,
#box-connetion .signup h2 {
    font-size: 30px;
    font-weight: 500;
    color: #dd9933;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

#box-connetion .inputbox{
    margin-top:30px;
}

#box-connetion input{
    border: inherit;
}

#box-connetion .login input,
#box-connetion .signup input {
    border-bottom: 1px solid #ccc !important;
    background-color: inherit;
    width: 100%;
    padding: 6px 0;
    margin-bottom: 15px;
    color: inherit;
}

#box-connetion .login .icons,
#box-connetion .signup .icons{
    position: relative;
    float: right;
    top: -37px;
    color: #adadad;
    right: 7px;
}

#box-connetion .login button,
#box-connetion .signup button{
    border: none;
    font-weight: 500;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    bottom: 17px;
    cursor: pointer;
    background: #dd9933;
    padding: 15px 30px;
    margin-top: 35px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

/* Fade In & Out*/
#box-connetion .login p {
    cursor: pointer;
    margin-top: 45px;
    font-weight: 300;
}

#box-connetion .loginMsg, #box-connetion .signupMsg{
    /*opacity: 1;*/
    transition: opacity .8s ease-in-out;
}

#box-connetion .visibility{
    opacity: 0;
}

#box-connetion .hide{
    display: none;
}

#box-connetion input:focus{
  border-bottom: 1px solid #dd8833 !important;
}

/* --------------------------------------------- */
/* -----------     RESPONSICE    --------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 960px){

    #box-connetion .frontbox{
        right: 6rem;
        top: 8rem;
    }

    #box-connetion .backbox{
        margin-bottom: 0;
        margin-top: 156px;
    }

    #box-connetion .moving{
        left: 6rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 940px){
    #bg-connetion .container{
        max-width: 840px;
    }

    #box-connetion .textcontent{
        padding-top: 25px;
        padding-left: 30px;
    }

    #box-connetion .signupMsg .textcontent{
        padding-left: 90px;
    }
}

@media only screen and (max-width: 479px){
    .no-visible{
        display: block;
    }
    .connetion-mobile {
      background: rgba(34,34,34,0.85) center fixed;
      padding: 40px;
      max-width: 600px;
      margin: 40px auto;
      border-radius: 4px;
      -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
              box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    }

    #box-mobile .connetion-mobile .icons{
        vertical-align: middle;
    }

    #box-mobile .forgot{
        color: #9fb2af;
    }
    #box-mobile .tab-group {
      list-style: none;
      padding: 0;
      margin: 0 0 40px 0;
    }
    #box-mobile .tab-group:after {
      content: "";
      display: table;
      clear: both;
    }
    #box-mobile .tab-group li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: rgba(160, 179, 176, 0.25);
      color: #a0b3b0;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      -webkit-transition: .5s ease;
      transition: .5s ease;
    }
    #box-mobile .tab-group li a:hover {
      background: #dd9933;
      color: #ffffff;
    }
    #box-mobile .tab-group .active a {
      background: #dd9933;
      color: #ffffff;
    }

    #box-mobile .tab-content > div:last-child {
      display: none;
    }

    #box-mobile h1 {
      text-align: center;
      color: #ffffff;
      font-weight: 300;
      margin: 0 0 40px;
    }

    #box-mobile label {
      position: absolute;
      -webkit-transform: translateY(6px);
              transform: translateY(6px);
      left: 13px;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-backface-visibility: hidden;
      pointer-events: none;
      font-size: 22px;
    }
    #box-mobile label .req {
      margin: 2px;
      color: #dd9933;
    }

    #box-mobile label.active {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      left: 2px;
      font-size: 14px;
    }
    #box-mobile label.active .req {
      opacity: 0;
    }

    #box-mobile label.highlight {
      color: #ffffff;
    }

    #box-mobile input, textarea {
      font-size: 22px;
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      background: none;
      background-image: none;
      border: 1px solid #a0b3b0;
      color: #ffffff;
      border-radius: 0;
      -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
      transition: border-color .25s ease, -webkit-box-shadow .25s ease;
      transition: border-color .25s ease, box-shadow .25s ease;
      transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
    }
    #box-mobile input:focus {
      outline: 0;
      border-color: #dd9933;
    }

    #box-mobile textarea {
      border: 2px solid #a0b3b0;
      resize: vertical;
    }

    #box-mobile .field-wrap {
      position: relative;
      margin-bottom: 40px;
    }

    #box-mobile .top-row:after {
      content: "";
      display: table;
      clear: both;
    }
    #box-mobile .top-row > div {
      float: left;
      width: 48%;
      margin-right: 4%;
    }
    #box-mobile .top-row > div:last-child {
      margin: 0;
    }

    #box-mobile .button {
      border: 0;
      outline: none;
      border-radius: 0;
      padding: 15px 0;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .1em;
      background: #dd9933;
      color: #ffffff;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-appearance: none;
    }
    #box-mobile .button:hover, .button:focus {
      background: #dd9933;
    }

    #box-mobile .button-block {
      display: block;
      width: 100%;
    }

    #box-mobile .forgot {
      margin-top: -20px;
      text-align: right;
    }
}
