/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
*    Page de style pour le DASHBOARD
* ======================================
*
*
*    0 -> GENERAL
*    1 -> NAV-USER
*    2 -> RECAP
*    3 -> FORM_PASSWORD
*    4 -> HISTORIQUES
*    5 -> INFO_COMMANDE
*    6 -> GALLERY-ENVIES
*    7 -> MES_ADRESSE
*    8 -> FORM_NEWSLETTER
*    9 -> RESPONSICE
*/


/* --------------------------------------------- */
/* -------------    GENERAL     ---------------- */
/* --------------------------------------------- */

#dashboard{
    margin-top: 3rem;
}

#dashboard .btn-success{
    background-color: #dd9933;
}

#dashboard p{
    font-size: 16px;
    margin-left: 2rem;
    font-weight: 300;
    font-style: normal;
}

#dashboard .air{
    margin-top: 2rem;
}

/* --------------------------------------------- */
/* -------------     NAV-USER    --------------- */
/* --------------------------------------------- */


.nav-user{
    font-size: 17px;
    letter-spacing: -1.2px;
}

.nav-user .active{
    color: #B80000;
}

.nav-user .icon-arrow-right{
    color: #dd9933;

    font-size: 17px;
    vertical-align: middle;
}


/* --------------------------------------------- */
/* --------------    RECAP     ----------------- */
/* --------------------------------------------- */

#recap h1{
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #DD9933;
    letter-spacing: -1px;
    /* text-align: center; */
    margin: 1rem;
}

#recap p{
    margin: 1rem;

    font-size: 14px;
    letter-spacing: -0.74px;
}

#recap span{
    color: #787878;
    font-family: Roboto-Light;
}

#recap .col-4{
    margin-bottom: 1rem;
}

/* --------------------------------------------- */
/* -----------     FORM_PASSWORD     ----------- */
/* --------------------------------------------- */

#box-password{
    margin-top: 3rem;
    margin-left: 1rem;
}

#box-password div{
    margin: 1rem;
}

#box-password label{
    font-size: 16px;
    color: #2B2C2C;
    font-weight: 300;
    font-style: normal;
    width: 200px;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
}

#box-password .case{
    border: 1px solid #D8D8D8;
    background-color: inherit;
    height: 40px;
    line-height: 40px;
    width: 240px;
}

#box-password .btn{
    margin-left: 205px;
}


/* --------------------------------------------- */
/* ------------     HISTORIQUES     ------------ */
/* --------------------------------------------- */

#historique h1{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: #2B2C2C;
    letter-spacing: -0.75px;
    text-align: center;
}

#historique p{
    margin-left: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    color: #7B7B7B;
    text-align: center;
    padding-top: 5px;
}

#historique .btn-success{
    padding: 17px 8px;
    font-size: 15px;
    max-width: 192px;
}

.air-top{
    margin-top: 20px
}

#historique .list-history{
    border-bottom: 1px solid #979797;
    padding: 2rem 0;
}

#historique .pagination{
    margin-top: 2rem;
}


/* --------------------------------------------- */
/* ------------    INFO_COMMANDE    ------------ */
/* --------------------------------------------- */

#info_commande .card{
    background-color: inherit;
    height: 180px;
}

#info_commande .bg-warning{
    background-color: #dd9933 !important;
    color: #fff;
}

#info_commande .card-title{
    font-size: 23px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding: 10px 0;
}

#info_commande .list-group-item{
    background-color: inherit;
    height: 90px;
    box-shadow: inherit;
}

#info_commande .list-group-item h1{
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    padding: 0 0 11px 0;
}

#info_commande .list-group-item span{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    padding-left: 9px;
}

#info_commande .fa-cc-mastercard{
    font-size: 40px;
    color: #dd9933;
}

#info_commande .air{
    margin-top: 5rem;
}

#info_commande .btn-detailStory{
    margin-bottom: 20px;
}

#info_commande .btn-success{
    /* padding: 15px 0; */
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

/* debut -> tableau facturation */
#info_commande .table{
    background-color: inherit;
}

#info_commande thead th{
    color: #dd9933;
    font-size: 17px;
    font-weight: 500;
}

#info_commande .quantity{
    font-size: 14px;
    color: #2B2C2C;
}

#info_commande .product img{
    width: 54px;
}

#info_commande .product a{
    font-size: 14px;
    font-weight: 500;
    color: #DF9A23;
    margin-left: 19px;
}

#info_commande .product p{
    font-weight: 100;
    font-size: 11px;
    color: #2B2C2C;
    position: relative;
    top: -17px;
    left: 45px;
}

#info_commande .taxe td{
    border: inherit;
}

#info_commande .total td{
    font-weight: 900;
    font-size: 16px;
    color: #DD9933;
}

/* fin -> tableau facturation */

/* --------------------------------------------- */
/* -----------     GALLERY-ENVIES    ----------- */
/* --------------------------------------------- */

#gallery-envies  p{
    margin-left: 0;
}

#gallery-envies .btn-success{
    margin-top: 0;
}

#gallery-envies .bouton{
    text-transform: none;
}

#gallery-envies .btn-dark{
    background: #C0C0C0;
    font-family: 'Roboto-Medium';
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
}

#gallery-envies .fa-trash-o{
    padding-right: 10px;
}

/* --------------------------------------------- */
/* ------------     MES_ADRESSE     ------------ */
/* --------------------------------------------- */

#mes_adresse h1{
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

#mes_adresse p{
    margin-left: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

#mes_adresse .item-address{
    border-bottom: 1px solid #979797;
    padding: 0.8rem 0;
}

#mes_adresse .adresse{
    position: relative;
    top: -2rem;
}

#mes_adresse .btn-success{
    text-align: center;
    font-size: 18px;
    padding: 18px 8px;
}

#mes_adresse .btn-facturation{
    padding: 20px 16px;
}


/* debut -> form_address-livraison */
#mes_adresse .card{
    border-radius: 10px;
    margin: 2rem 0;
    background: #f8f8f8;
    padding-bottom: 15px;
}

#mes_adresse form{
    margin: 20px 40px;
}

#mes_adresse .form-check-label{
    font-size: 16px;
    margin: 15px 0;
}

#mes_adresse .attention{
    float: right;
    margin: 10px 0;
    color: #d80000;
    font-weight: 300;
    font-size: 15px;
}

#mes_adresse .case{
    width: 100%;
    padding: 10px;
    background: #F8F8F8 !important;
    border: 0 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px #AAA;
    box-shadow: 0px 0px 3px #AAA;
    margin: 20px 0;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

#box-password .case:focus,
#mes_adresse .form-control:focus{
    border: 1px solid #dd8833 !important;
}

#mes_adresse .case-select{
    width: 100%;
    border: 0 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px #AAA;
    box-shadow: 0px 0px 3px #AAA;
    margin: 20px 0;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

#mes_adresse .panel-edit-address .btn-success{
    background-color: #dd8833;
    float: right;
    font-size: 17px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    bottom: 3rem;
}

/* fin -> form_address-livraison */

/* --------------------------------------------- */
/* ----------     FORM_NEWSLETTER     ---------- */
/* --------------------------------------------- */

#form_newsletter p{
    margin-left: inherit;
    line-height: 25px;
    padding: 0 0 10px 0;
}

#box-newsletter{
    margin-top: 2rem;
}

#box-newsletter label{
    font-size: 16px;
    color: #2B2C2C;
    font-weight: 300;
    font-style: normal;
    width: 250px;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
}

#box-newsletter select{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;

    background-color: inherit;
    border: 1px solid #D8D8D8;
    height: 40px;
    width: 122px;
    padding: 10px O;
}

#box-newsletter .clear{
    margin: 1rem;
    clear: both;
}

#box-newsletter .btn{
    margin-left: 252px;
    margin-top: 2rem;
}

/* --------------------------------------------- */
/* -----------     RESPONSICE    --------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 960px){
    /* gallery-envies */
    #gallery-envies .prix{
        top: 19rem;
    }

    /* detailHistoriques */
    #info_commande .air{
        margin-top: 3rem;
    }

    #info_commande .card-title{
        font-size: 20px;
    }

    #info_commande .col-md-3{
        top: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 940px){

    /* HISTORIQUE */
    #historique .btn-histoir{
        position: absolute;
        bottom: -181px;
        left: 100px;
    }
    #historique .btn-ajout .btn-success{
        float: right;
        top: 13px;
        right: 92px;
    }

    /* detailHistoriques */
    #info_commande .card{
        margin-bottom: 20px;
    }

    /* gallery-envies */
    #gallery-envies .card:active,
    #gallery-envies .card:focus,
    #gallery-envies .card:hover{
        height: 600px;
    }
    #gallery-envies .prix{
        top: 28rem;
    }

    /* mes_adresse */
    #mes_adresse .btn-facturation{
        position: relative;
        top: 0;
        padding: 20px 25px;
        float: right;
    }
    #mes_adresse .btn-address{
        float: right;
        margin-top: -5rem;
    }

    #mes_adresse .btn-success{
        font-size: small;
    }

}


@media only screen and (max-width: 479px){
    /* GENERAL */
    #dashboard .air{
        width: 100%;
        margin-top: 5px;
    }

    /* RECAP */
    #recap .col-12{
        border: 1px solid #e4e4e4;
        background-color: #fff;
        text-align: center;
    }

    /* FORM_PASSWORD  */
    #box-password div{
        margin: 40px 10px;
    }

    #box-password label{
        margin-top: -40px;
    }

    #box-password .btn{
        margin: 0;
    }
    #box-password .case{
        width: 100%;
    }

    /* HISTORIQUE */
    #historique .list-history{
        height: 460px;
    }

    #historique .btn-histoir{
        position: absolute;
        top: 8rem;
        left: 4rem;
    }

    #historique .air-top{
        position: relative;
        top: -0.5rem;
    }

    #historique .btn-ajout{
        text-align: center;
        position: relative;
        top: 5rem;
    }

    /* detailHistoriques */
    #info_commande .card{
        margin-bottom: 20px;
    }

    #info_commande .list-group-item h1{
        color: inherit;
        padding-bottom: 5px;
        margin-bottom: 2px;
    }

    #info_commande .product a{
        margin-left: 0;
    }
    #info_commande .product p{
        top: 8px;
        left: -31px;
    }

    #info_commande .total td{
        font-weight: 500;
        font-size: 14px;
    }

    /* gallery-envies */
    #gallery-envies .prix{
        top: 14.8rem;
    }

    #gallery-envies .card-title{
        font-size: 1.4rem;
    }

    #gallery-envies .btn-success{
        padding-left: 5px;
    }

    /* mes_adresse */

    #mes_adresse .item-address{
        height: 335px;
        text-align: center;
    }

    #mes_adresse .btn-facturation{
        position: relative;
        top: 7rem;
        padding: 20px 25px;
    }

    #mes_adresse .adresse{
        top: -4rem;
    }

    #mes_adresse .btn-address{
        position: relative;
        top: 2rem;
        margin-left: 28px;
        margin-right: 36px;
    }

    #mes_adresse .card{
        padding-bottom: 7rem;
    }

    #mes_adresse form{
        margin: auto 20px;
    }

    #mes_adresse .left{
        left: 6rem;
    }

    #mes_adresse .form-check .form-check-label{
        margin: 0;
        font-size: small;
        width: 16%;
    }

    #mes_adresse .form-check .form-check-label span{
        white-space:nowrap;
    }

    #mes_adresse .panel-edit-address .btn-success{
        bottom: -2.6rem;
    }


    /* form_newsletter */

    #box-newsletter select{
        width: 100%;
        margin-top: 7px;
    }

    #box-newsletter .btn{
        margin-left: inherit;
        margin-top: 7px;
        width: 100%
    }
}
