/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
 *    Page de style pour le footer
 * ======================================*/



/* -- footer-- */

#footer{
    background: #2B2C2C;
    color: #fff !important;
    /* margin-top: 50%; */
    /*! height: 565px; */
}

/* --- debut -> pastille --- */
.pastille {
    border: 5px dotted #FAFAFA;
    border-radius: 100%;
    margin: 20px 64px 22px 0;
    max-width: 140px;
    height: 140px;
}

.pastille img{
    width: 50px;
    display: block;
    margin: 0 auto;
}

.pastille-texte{
    text-align: center;
    font-size: 17px;
    padding: 20px 6px;
}
/* --- fin -> pastille --- */

/* --- debut -> info --- */
#info > .row > * {
    position :relative;
    margin-top: 2rem;
    margin: 10px;
}

#info h1{
    color: #696969;
    height: 28px;
    font-size: 24px;
}

/* info-produit */
.mode img{
    height: 21px;
}

.mode{
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin-top: 21px;
    text-align: center;
}

/* footer-separation */
.footer-separation{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px dashed #696969;
}


/* nav-produit */
#nav-produit a:hover{
    color: #DD9933;
}

#info nav {
    font-weight: 300;
    font-size: 13px;
    margin-top: 15px;
    color: #696969;
}

#info li {
    margin-bottom: 5px;
}

#footer .icon-arrow-right{
    color: #dd9933;

    font-size: 11px;
    vertical-align: middle;
}

/* adress */
#adresse{
    margin-top: 15px;
}

#adresse h1{
    font-weight: 300;
    font-size: 16px;
    color: #DD9933;
    letter-spacing: 0;
}

#adresse p{
    font-weight: 100;
    font-size: 14px;
    color: #DD9933;
    letter-spacing: 0;
}

iframe{
    float: right;
    position: relative;
    margin-top: -8rem;
    width: 300px;
    height: 140px;
    right: -72px;
}

/* --- fin -> info ---*/

/* --- debut -> media-social --- */

#social-media{
    height: 50px;
    border-top: 1px solid #DD9933;
    margin: 20px 20px 0;
}

#social-media img{
    height: 25px;
    /* width: 31px; */
}

#icon{
    text-align: center;
    margin-top: 10px;
}

#icon a{
    margin: 5px;
}

/* --- fin -> media-social ---*/


/* --------------------------------------------- */
/* -----------     RESPONSICE    --------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 960px) {
    /* -- GENERAL -- */
    #info > .row > * {
        margin-top: 15px !important;
        margin-right: 9px !important;
    }

    .pastille{
        margin: 20px 28px 22px 0;
    }

    #info h1{
        font-size: 20px;
    }

    #info iframe{
        width: 250px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 940px){
    /* --- pastille --- */
    .pastille{
        height: 5px;
        left: 14px;
        border: none;
        max-width: 60%;
    }

    .pastille-texte{
        text-align: left;
    }

    .pastille-texte span{
        font-size: 20px;
        position: absolute;
        margin-left: 3rem;
        width: 13rem;
    }

    .pastille-texte img{
        width: 38px;
        position: absolute;
        left: 6px;
        top:0.5rem;
    }
    /* --- info --- */

    #info{
        margin-top: 2rem;
    }

    #info > .row > * {
        margin-top: 20px !important;
        margin-right: 20rem !important;
    }

    #info iframe{
        width: 300px;
        left: 13rem;
    }
}

@media only screen and (max-width: 479px) {

    /* --- debut -> pastille --- */
    .pastille{
        height: 5px;
        left: 14px;
        border: none;
        max-width: 50%;
    }

    .pastille-texte{
        text-align: left;
    }

    .pastille-texte span{
        font-size: 20px;
        position: absolute;
        margin-left: 3rem;
        width: 13rem;
    }

    .pastille-texte img{
        width: 38px;
        position: absolute;
        left: 6px;
        top:0.5rem;
    }
    /* --- fin -> pastille --- */

    /* --- debut -> info --- */

    #info{
        margin-top: 2rem;
    }

    /* info-paiement */
    #info-paiement{
        margin-bottom: 2rem;
    }
    .mode{
        height: 15px;
    }
    .mode img{
        height: 15px;
    }
    /* nav produit footer*/
    #info nav{
        margin-left: 2rem;
    }
    #nav-produit{
        margin-left: 9px;
        margin-bottom: 1rem;
    }

    /* contact */
    #contact{
        margin-left: 3px;
    }

    #adresse{
        margin-left: 2rem;
    }

    #adresse h1{
        text-align: left;
        margin-bottom: 0;
    }

    iframe{
        margin-top: 1rem;
        margin-left: 0;
        width: 300px;
        right: 0;
    }
    /* --- fin -> info --- */


    /* --- debut -> social-media --- */
    #icon img{
        height: 20px;
        width: auto;
    }

    /* --- fin -> social-media --- */
}
