/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
*    Page de style pour le HEADER
* ======================================*/


/* -- header -- */


#navtop{
    background: #2B2C2C;
    color: #fff !important;
    font-size: 16px;
    letter-spacing: 0;
    height: 3rem;
}

#navtop img{
    width: 25px;
    position: absolute;
    margin-top:10px;
}

.separation{
    margin-top: 6px;
    font-size: 25px;
}

#nav-bar{
    margin: 0;
    background: #dd9933;
    height: 145px;
    color: #fff;
    font-size: 24px;
}

#nav-principal{
    margin-top: 3rem;
}

#nav-principal .nav-tabs .nav-link{
    color: #fff;
}

#nav-principal .nav-tabs .nav-link.active {
    color: #B80000;
}

#nav-principal .nav-tabs .nav-link::before {
    background-color: #B80000;
}

#accueil{
    margin-top: -17px;
}

/* --------------------------------------------- */
/* --------------     SEARCH    ---------------- */
/* --------------------------------------------- */

/* -- navbar-header -- */

.navbar-header {
    margin-right: 5px;
}

.navbar-header div.active{
    border-bottom: 3px solid #fff;
    background:none !important;
    padding-bottom: 3px;
}

.navbar-header div.active a{
    background:none !important;
}

.topnav .navbar-header div.active:after,.user-name:after,
.avatar-dropdown:after,.navbar-header .dropdown-menu div:after{
    background:none !important;
}

.topnav .navbar-header div:after{
    position:absolute;
    bottom:-6px;
    left:50%;
    height:3px;
    width:0%;
    background-color:#fff;
    display:block;
    content:'';
    transition:0.3s;
    top: 52px !important;
}

.navbar .search .form-animate-text .bar:before,.navbar .search .form-animate-text
.bar:after {
    height: 1px;
    background: #0c66ae !important;
}

.form-group.form-animate-text.form-animate-error .bar:before,
.form-group.form-animate-text.form-animate-error .bar:after{
    background-color: #FF968B !important;
    width: 50%;
}

.topnav .navbar-header div:hover:after{
    left:0;
    width:100%;
}

.navbar-header .search .form-animate-text .form-text{
    border:none !important;
    color: #666;
}



.navbar-header a{
    /*color: #fff !important;*/
    font-size: 16px;
}


/* -- RIPPLE -- */

.ripple {
    width: 100%;
    height: 100%;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple a {
    cursor: pointer;
    user-select: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    position: relative;
}


/* --  animation effect   -- */

.ink.animate {
    -webkit-animation: ripple 0.75s linear;
    -moz-animation: ripple 0.75s linear;
    -ms-animation: ripple 0.75s linear;
    -o-animation: ripple 0.75s linear;
    animation: ripple 0.75s linear;
    cursor: pointer;
}

@keyframes ripple {
    from {
        -webkit-opacity: 0.8;
        -moz-opacity: 0.8;
        -ms-opacity: 0.8;
        -o-opacity: 0.8;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
    to {
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.ripple-form {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    z-index: 99;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: rippleForm 0.5s linear;
    -moz-animation: rippleForm 0.5s linear;
    -ms-animation: rippleForm 0.5s linear;
    -o-animation: rippleForm 0.5s linear;
    animation: rippleForm 0.5s linear;
}

.search-nav .form-animate-text{
    margin-bottom: 0px !important;
}

.form-animate-text .form-text,.form-animate-text .form-text:focus {
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    padding: 10px;
}



/*  start -> search v1  */
.search-v1 .panel,.search-v1 .panel-body{background: #fbfbfb;}
.search-v1 .tabs-area{border:none !important;margin-top: -18px;background: #fff;}
.search-v1 #tabs-demo6 li{padding: 5px !important;}
.search-v1 #tabs-demo6 li.active:after{
    border-color: rgba(185, 9, 8, 0);
    border-top-color: #fbfbfb;
    margin-top: 18px;
    z-index: 9
}
.search-v1 .search-v1-avatar{width: 80px;height: 80px;border-radius: 100%;margin-right: 10px;}
.search-v1 #tabs-demo6,.search-v1 #tabs-demo6 a{background-color: #fbfbfb !important;}
.search-v1 .tab-pane{padding: 20px;}
.search-v1 .search-v1-menu1 .media-left{font-size: 2em;line-height: 0.7;font-weight: bold;padding-top: 10px;}
.search-v1 .search-v1-menu1 .media-heading{font-size:17px;color: #2196F3 !important;font-weight: 600 !important;}
.search-v1 .media{padding: 20px;}
.search-v1 .media:nth-child(2n+2){
    background-color: rgba(0,0,0,0.02) !important;
}
.search-v1 .panel{
    border:none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}

.search-v1 #search-v1-images{position: absolute;}

.search-v1 #search-v1-images .post { height: 100px; background: cyan; margin-bottom: 20px; }
.search-v1 #search-v1-images .tall { height: 200px; }
}
/*  end -> search v1 */

/*===============  Form  =============*/

.form-element .form-element-padding .form-group,
.form-element .form-element-padding .input-group {
    padding: 15px;
}


.form-group.form-animate-text {
    position: relative;
    float: right;
    /* margin-top: -10px; */
    width: 200px;
    margin-left: 2rem
}

.form-group.form-animate-text .form-text {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    background:none;
    border-bottom: 1px solid #757575;
    top: O;
    margin-top: 0;
}

.form-group.form-animate-text .form-text:focus {
    outline: none;
}

.form-group.form-animate-text label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.form-group.form-animate-text.form-animate-error label{
    color:#FF968B !important;
}


.form-group.form-animate-text.form-animate-error .bar:before,
.form-group.form-animate-text.form-animate-error .bar:after{
    background-color: #FF968B !important;
    width: 50%;
}

.form-group.form-animate-text.form-animate-error .form-animate-error-msg{
    color:#FF968B !important;
    font-size: 16px;
    display: none;
}

.form-group.form-animate-text .form-text:focus ~ label,
.form-text:valid ~ label {
    top: -18px;
    font-size: 14px;
    color: #999C9E;
}

.form-group.form-animate-text .bar {
    position: relative;
    display: block;
    width: 100%;
}

.form-group.form-animate-text .bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5C5C5C99;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.form-group.form-animate-text .bar:before {
    left: 50%;
}

.form-group.form-animate-text .bar:after {
    right: 50%;
}

.form-group.form-animate-text .form-text:focus ~ .bar:before,
.form-text:focus ~ .bar:after {
    width: 50%;
}

.form-group.form-animate-text .form-text:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    -ms-animation: inputHighlighter 0.3s ease;
    -o-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    -ms-animation: inputHighlighter 0.3s ease;
    -o-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    -ms-animation: inputHighlighter 0.3s ease;
    -o-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@keyframes rippleForm {
    from {
        -webkit-opacity: 0.8;
        -moz-opacity: 0.8;
        -ms-opacity: 0.8;
        -o-opacity: 0.8;
        opacity: 0.8;
        filter: alpha(opacity=80);
        background-color: #ddd;

    }
    to {
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

/* --------------------------------------------- */
/* -------------     navlang    ---------------- */
/* --------------------------------------------- */

#navlang{
    font-size: 15px;
    letter-spacing: 0;
    margin-top: 10px;
}
#navlang .dropdown-menu {
    padding: 10px;
    top: 10px!important;
    min-width: auto;
}

.dropdown-menu li a{
    color: #2B2C2C;
}

.dropdown-toggle{
    margin-left: 1rem;
}

/* --------------------------------------------- */
/* --------------     user    ------------------ */
/* --------------------------------------------- */

#user{
    border: 1px solid #979797;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 3rem;
    padding: 5px;
    text-align: center;
    width: 136px;
    height: 34px;
}

.dropdown-menu{
    color: #000;
}


/* --------------------------------------------- */
/* --------------     LOGO    ------------------ */
/* --------------------------------------------- */

#logo img{
    width: auto;
    height: auto;
}

#logo a{
    margin-left: -35px;
    margin-top: -33px;
    position: absolute;
}

/* --------------------------------------------- */
/* -------------     PANIER    ----------------- */
/* --------------------------------------------- */

#panier img{
    width: 102px;
    height: auto;
    margin-top: 15px;
}

#prix{
    background: #B80000;
    border-radius: 17px;
    height: 30px;
    width: 60px;
    font-size: 18px;
    text-align: center;
    margin-top: -45px;
    position: absolute;
    float: right;
    margin-left: 4rem;
    color: #fff;
}

#prix .ajout{
    font-size: 18px;
    text-align: center;
    padding: 8px;
    position: absolute;
    top: 64px;
    left: 75px;
    z-index: 1;
}



/* --------------------------------------------- */
/* -----------     RESPONSICE    --------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 960px) {
    .search-nav{
        /* display: none!important; */
        left: 2rem;
    }

    .nav-list.tree li  {
        width: 100%;
        padding-left: 15px;
    }

    #logo a{
        margin-top: -25px;
    }

    #nav-principal{
        margin-top: 2rem;
    }

    #panier img{
        width: 85px;
    }

    #prix{
        margin-left: 3rem;
    }

    #nav-bar{
        height: 120px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 940px){
    #navtop .search{
        left: 7rem;
        position: relative;
    }
    #navlang, #navtop .separation{
        display: none;
    }
    #connection{
        position: relative;
        top: -3rem;
        left: 26rem;
    }

    #logo img{
        width: 206px;
        height: auto;
        position: relative;
        left: -40px;
        margin-top: 10px;
    }
    #nav-principal .nav-tabs .nav-link{
        font-size: medium;
    }

    #panier{
        position: relative;
        float: right;
        bottom: 5rem;
        left: 30rem;
    }
}


@media only screen and (max-width: 479px) {
    /* -- GENERAL -- */
    #nav-bar {
        height: 70px;
    }

    .nav-wrapper .navbar-header,.nav-wrapper,.navbar-brand{
        padding-left: 0px !important;
    }

    .search-nav{
        display: none;
    }

    #navlang{
        display: none;
    }

    #connection{
        float: right;
        margin-left: 7rem;
    }

    #connection img{
        margin-left: 15px;
    }


    #logo img{
        width: 130px;
        height: auto;
        margin-left: 30px;
        margin-top: 19px;
    }

    #panier{
        margin-left: -4rem;
        margin-top: 0.5rem;
    }

    #panier img{
        width: 51px;
        margin-left: 8rem;
        margin-top: 7px;
    }

    #prix{
        margin-left: 9.5rem;
        margin-top: -25px;
        font-size: 12px;
        height: 20px;
        width: 42px;
        border-radius: 16px;
    }
}
