/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
*    Page de style pour le MAIN
* ======================================
*
*
*    01 -> SLIDER
*    02 -> VEDETTE
*    03 -> VIGNETTE
*    04 -> MESSAGE
*    05 -> NAV-SECOND
*    06 -> PAGINATION
*    07 -> FORM_CONTACT
*    08 -> RESPONSICE
*
*/

/* --------------------------------------------- */
/* ---------------    SLIDER    ---------------- */
/* --------------------------------------------- */
#slider{
    background: #2B2C2C;
    color: #fff !important;
    height: 465px;
}

.carousel {
    margin-top: 25px;
}

#air{
    padding: 20px;
}

.carousel-indicators li{
    background-color: none;
    border: 8px solid rgba(255, 255, 255,0.5);
    margin-right: 5px;
    margin-left: 5px;
}

.carousel-indicators .active{
    background-color: #fff;
}

#slider .w-100{
    height: 380px;
}

#slider .jumbotron{
    border-radius: inherit;
    background-color: transparent;
    box-shadow: inherit;
    padding: inherit;
    position: absolute;
    margin-top: -19rem;
    margin-left: 18rem;
    width: 80%;
    z-index:1;
    color: #2B2C2C;
}

#slider .btn{
    background-color: inherit;
    color: #2B2C2C;
    border: none;
}

/* --------------------------------------------- */
/* ---------------    VEDETTE    --------------- */
/* --------------------------------------------- */
#vedette{
    background: #2B2C2C;
    color: #fff !important;
}


#titre{
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
}

/* --------------------------------------------- */
/* ---------------    VIGNETTE    -------------- */
/* --------------------------------------------- */

#vignette .row{
    margin: 5rem 0;

}

#vignette .card{
    padding: 0;
}

#vignette .d-block{
    opacity: 0.55;
}

#vignette .plus{
    position: absolute;
    bottom: 0;
    right: 0;
}

#vignette h1{
    position: absolute;
    font-size: 50px;
    margin-top: -18rem;
    margin-left: 87px;
    color: #2B2C2C;
}

#vignette .img-vedette{
    transform: rotate(180deg);
}

#vignette .btn{
    background-color: inherit;
    color: #2B2C2C;
    border: none;
    position: absolute;
    margin-top: -6rem;
    margin-left: 110px;
    font-size: 20px;
}


/* --------------------------------------------- */
/* ---------------    MESSAGE    --------------- */
/* --------------------------------------------- */
#message{
    font-size: 20px;
    padding: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px dashed #696969;
    text-align: center;
}

/* --------------------------------------------- */
/* --------------    NAV-SECOND    ------------- */
/* --------------------------------------------- */


.nav-second{
    font-size: 20px;
}

.nav-second .active{
    color: #B80000;
}

.nav-second .icon-arrow-right{
    color: #dd9933;

    font-size: 17px;
    vertical-align: middle;
}


/* --------------------------------------------- */
/* --------------    PAGINATION    ------------- */
/* --------------------------------------------- */


.pagination{
    background-color: inherit;
}

.pagination .active{
    background-color: inherit;
    border-bottom: 2px solid #B80000;
}


/* --------------------------------------------- */
/* -------------    FORM_CONTACT    ------------ */
/* --------------------------------------------- */

.bg-cartePostal{
    background: url('../img/cartepostale1.png') no-repeat;
    background-size: 770px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0, 0.60);
    box-shadow: 0px 0px 4px rgba(0,0,0, 0.60);
    padding: 20px 0px;
    width: 100%;
    height: 345px;
    margin-top: 2rem;
}

#box-contact input[type=text], #box-contact input[type=email]{
    width: 100%;
    padding: 10px;
    background: #F8F8F8 !important;
    border: 0 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px #AAA;
    box-shadow: 0px 0px 3px #AAA;
    margin: 20px 0 20px 30px;

    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

#box-contact textarea{
    overflow: inherit;
    resize: inherit;
    padding: 10px;
    background: #F8F8F8 !important;
    border: 0 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px #AAA;
    box-shadow: 0px 0px 3px #AAA;
    margin: 20px 0 20px 30px;
    height: 206px;

    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

#box-contact input[type="text"]:focus,
#box-contact input[type="email"]:focus,
#box-contact textarea:focus{
    border: 1px solid #dd8833 !important;
}

#box-contact .btn-success{
    background: #DD9933;
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
    margin: 3px 15px 0 30px;
    padding: 15px 20px;

    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;
}

#nos_coordonnees .titre{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    color: #DF9A23;

    margin: 80px 0px 16px 50px;
}

#nos_coordonnees .box-coordonnee h1{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #2b2c2c;

    margin: 40px 0 0 50px;
}

#nos_coordonnees .box-coordonnee p{
    font-size: 18px;
    font-weight: 100;
    color: #2b2c2c;

    margin: 15px 0 0 50px;
}

/* --------------------------------------------- */
/* --------------    RESPONSICE    ------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 960px){
    /* SLIDER */
    #slider .jumbotron{
        margin-left: 15rem;
    }

    /* vignette */
    #vignette .btn{
        margin-left: 4rem;
        margin-top: -7.5rem;
    }

    #vignette h1{
        text-align: center;
        margin-left: 1.5rem;
        margin-top: -15rem;
    }

    /* contact */
    .bg-cartePostal{
        background-size: 638px;
    }

    #box-contact input[type=text],
    #box-contact input[type=email],
    #box-contact textarea,
    #box-contact .btn-success{
        margin-left: 15px;
    }

    #nos_coordonnees .titre{
        margin-left: 20px;
        font-size: 21px;
    }

    #nos_coordonnees .box-coordonnee h1,
    #nos_coordonnees .box-coordonnee p{
        margin-left: 20px;
        font-size: 16px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 940px){
    /* SLIDER */
    #slider .jumbotron{
        margin-left: 10rem;
    }
    #slider .display-3{
        font-size: 2rem;
    }
    #slider .lead{
        font-size: medium;
    }

    /* vignette */
    #vignette .space{
        bottom: 2rem;
    }
    #vignette h1{
        margin-top: -21rem;
        margin-left: 7rem;
    }
    #vignette .btn {
        margin-left: 8.5rem;
        margin-top: -9.5rem;
    }

    /* form_contact */
    .bg-cartePostal{
        background: initial;
        height: inherit;
        border-radius: inherit;
        box-shadow: inherit;
        padding: 0;
        margin-top: 10px;
    }
    #box-contact textarea{
        width: 100%;
    }
    #box-contact .btn-success{
        float: right;
        margin-top: 15px;
        margin-right: 15px;
    }

    #nos_coordonnees .titre{
        margin-top: 0;
    }

}


@media only screen and (max-width: 479px){

    /* vignette */
    #vignette .space{
        bottom: 2rem;
    }

    #vignette h1{
        font-size: 25px;
        margin-top: -11rem;
        margin-left: 62px;
    }

    #vignette .btn{
        margin-left: 35px;
        font-size: 17px;
    }

    #vignette .plus{
        width: 25%;
    }

    /* message */
    #titre{
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    #message{
        font-size: larger;
        padding: 12px;
        width: 95%;
        /* text-align: justify; */
    }

    /* form_contact */
    .bg-cartePostal{
        background: initial;
        height: inherit;
        border-radius: inherit;
        box-shadow: inherit;
        padding: 0;
        margin-top: 10px;
    }

    #box-contact input[type=text],
    #box-contact input[type=email],
    #box-contact textarea{
        margin: 10px 4px;
        width: 97%;
        color: #2b2b2b;
    }

    #box-contact .btn-success{
        width: 98%;
        margin: 3px;
    }

    #nos_coordonnees .titre,
    #nos_coordonnees .box-coordonnee h1{
        margin-top: 2rem;
    }
}
