/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0

source : akivaron/miminium
*/


/* ======================================
 *    Page de style MENU MOBILE
 * ======================================*/


/* ---------------------------- */
/* --------- GENERAL ---------- */
/* ---------------------------- */

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    background-color:#f0f3f4;
    line-height: 1.42857143 !important;
    color: #58666e !important;
}

a,
a:hover {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    /*! color: #2196F3; */
    /*! font-weight: bold; */
}


/* Ripple ================================ */

.ripple {
    width: 100%;
    height: 100%;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple a {
    cursor: pointer;
    user-select: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    position: relative;
}

/* Bouton =============================== */

.btn {
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    -ms-border-radius: 1px !important;
    -o-border-radius: 1px !important;
    border-radius: 1px !important;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: #fff; */
    /* color: #857E7E; */
    /* border: 1px solid #ddd; */
}

.btn:focus {
    outline: none;
}



.btn.btn-circle {
    -webkit-border-radius: 200% !important;
    -moz-border-radius: 200% !important;
    -ms-border-radius: 200% !important;
    -o-border-radius: 200% !important;
    border-radius: 200% !important;
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 2em;
}


.btn-danger,
.label-danger,
.alert-danger,
.badge-danger {
    color: #fff !important;
    border: none !important;
    background-color: #D93 !important;
}

.btn-outline.btn-danger,
.label-outline.label-danger,
.alert-outline.alert-danger {
    border: 1px solid #FF6656 !important;
    background: none !important;
    color: #FF6656 !important;
}

.btn-outline.btn-danger:hover,
.btn-outline.btn-danger:active,
.btn-outline.btn-danger:focus,
.label-outline.label-danger:hover,
.alert-outline.alert-danger:hover {
    background: none !important;
    color: #918C8C !important;
    border: 1px solid #918C8C !important;
}

.btn-gradient.btn-danger,
.label-gradient.label-danger,
.alert-gradient.alert-danger {
    background: -moz-linear-gradient(top, #FF6656 50%, #E43927 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FF6656), color-stop(50%, #E43927));
    background: -webkit-linear-gradient(top, #FF6656 50%, #E43927 50%);
    background: -o-linear-gradient(top, #FF6656 50%, #E43927 50%);
    background: -ms-linear-gradient(top, #FF6656 50%, #E43927 50%);
    background: linear-gradient(to bottom, #FF6656 50%, #E43927 50%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF6656', endColorstr='#E43927', GradientType=0);
}
.btn-raised.btn-danger,
.label-raised.label-danger,
.alert-raised.alert-danger {
    -webkit-box-shadow: 0 3px 0 0 #E43927 !important;
    -moz-box-shadow: 0 3px 0 0 #E43927 !important;
    -ms-box-shadow: 0 3px 0 0 #E43927 !important;
    -o-box-shadow: 0 3px 0 0 #E43927 !important;
    box-shadow: 0 3px 0 0 #E43927 !important;
}

.btn-3d.btn-danger,
.label-3d.label-danger,
.alert-3d.alert-danger {
    -webkit-box-shadow: inset 0px 0px 0px #E43927, 0px 5px 0px 0px #E43927, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 0px 0px #E43927, 0px 5px 0px 0px #E43927, 0px 10px 5px #999;
    -ms-box-shadow: inset 0px 0px 0px #E43927, 0px 5px 0px 0px #E43927, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 0px 0px #E43927, 0px 5px 0px 0px #E43927, 0px 10px 5px #999;
    box-shadow: inset 0px 0px 0px #E43927, 0px 5px 0px 0px #E43927, 0px 10px 5px #999;
}

.btn-3d.btn-danger:active,
.label-3d.label-danger:active,
.alert-3d.alert-danger:active {
    -webkit-box-shadow: inset 0px 0px 0px #E43927, 0px 2px 0px 0px #E43927, 0px 4px 2px #999 !important;
    -moz-box-shadow: inset 0px 0px 0px #E43927, 0px 2px 0px 0px #E43927, 0px 4px 2px #999 !important;
    -ms-box-shadow: inset 0px 0px 0px #E43927, 0px 2px 0px 0px #E43927, 0px 4px 2px #999 !important;
    -o-box-shadow: inset 0px 0px 0px #E43927, 0px 2px 0px 0px #E43927, 0px 4px 2px #999 !important;
    box-shadow: inset 0px 0px 0px #E43927, 0px 2px 0px 0px #E43927, 0px 4px 2px #999 !important;
}


/* mobile ================================ */

#mimin-mobile {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: none
}

#mimin-mobile-menu-opener{
    right: 20px;
    position: fixed;
    bottom: 20px;
    outline: none !important;
    z-index: 9999999;
    display: none
}

#mimin-mobile a{
    color: #fff;
    padding-right: 0px;
}
#mimin-mobile a:hover{
    background:none !important;
}
#mimin-mobile .tree{
    padding-left: 10px;
    background: #dd9933;
}

.sub-mimin-mobile-menu-list {
    display: none;
    padding: 0;
    height: 300px;
    font-weight: 100;
    overflow: auto;
    font-size: 2em;
    margin:15px;
}

.sub-mimin-mobile-menu-list .fa{
    margin-right: 10px;
    margin-left: 10px;
}

#mimin-mobile.animate {
    -webkit-animation: mobile-menubg 0.75s linear;
    -moz-animation: mobile-menubg 0.75s linear;
    -ms-animation: mobile-menubg 0.75s linear;
    -o-animation: mobile-menubg 0.75s linear;
    animation: mobile-menubg 0.75s linear;
}

#mimin-mobile .ink {
    background: #dd9933;
}

#mimin-mobile .ink.animate {
    -webkit-animation: ripple-mobile 0.75s linear;
    -moz-animation: ripple-mobile 0.75s linear;
    -ms-animation: ripple-mobile 0.75s linear;
    -o-animation: ripple-mobile 0.75s linear;
    animation: ripple-mobile 0.75s linear;
}

#mimin-mobile.reverse.animate {
    -webkit-animation: mobile-menubg-reverse 0.75s linear !important;
    -moz-animation: mobile-menubg-reverse 0.75s linear !important;
    -ms-animation: mobile-menubg-reverse 0.75s linear !important;
    -o-animation: mobile-menubg-reverse 0.75s linear !important;
    animation: mobile-menubg-reverse 0.75s linear !important;
}

#mimin-mobile.reverse .ink.animate {
    -webkit-animation: ripple-mobile-reverse 0.75s linear !important;
    -moz-animation: ripple-mobile-reverse 0.75s linear !important;
    -ms-animation: ripple-mobile-reverse 0.75s linear !important;
    -o-animation: ripple-mobile-reverse 0.75s linear !important;
    animation: ripple-mobile-reverse 0.75s linear !important;
}

@keyframes ripple-mobile-reverse {
    from {
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    to {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes mobile-menubg-reverse {
    from {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        background: #dd9933;
    }
    to {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}



@keyframes ripple-mobile {
    from {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    to {
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes mobile-menubg {
    from {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);

    }
    to {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        background: #dd9933;
    }
}

/* ========== RESPONSIVE ============ */

@media (max-width: 1200px) {
    .sub-left-menu{
    padding-top: 0px !important;
    top: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .topnav #mimin-mobile,.topnav #mimin-mobile-menu-opener{
      display: block !important;
  }
}


@media only screen and (max-width: 479px) {
    .no-visible{
        display: none;
    }

    #mimin-mobile,#mimin-mobile-menu-opener{
        display: block !important;
    }
}
