/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
 *    Page de style NAVTOP
 * ======================================*/



 .search-nav .form-animate-text{
     margin-bottom: 0px !important;
 }

 /*start: Login*/
 .form-signin-wrapper{background: #2196f3 !important;}
 .form-signin{
     max-width: 330px;
     padding: 15px;
     margin: 0 auto;
 }
 .form-signin a{color: #fff !important;font-weight: bold;}
 .form-signin .btn{margin-top: 30px;}
 .form-signin .form-group{margin-bottom: 20px !important;}
 .form-signin .panel{background: #2196f3;color: #fff;padding: 10px;border:none !important;box-shadow: 0 7px 16px #0a86e9, 0 4px 5px #0a86e9;}
 .form-signin .panel-body{padding-bottom: 50px;padding-top: 30px;}
 .form-signin .atomic-number{font-size: 20px;}
 .form-signin .atomic-symbol{font-size: 10em !important;font-weight: 500;padding-bottom: 20spx;}
 .form-signin .element-name,.form-signin .atomic-mass{font-size: 18px;margin-top: -10px;font-weight: 600;line-height: 1.2;}
 .form-signin label{color:#fff !important;}
 .form-signin .bar:before,.form-signin .bar:after{background-color:#fff !important;}
 /*end: login*/

 /*start: search v1*/
 .search-v1{}
     .search-v1 .panel,.search-v1 .panel-body{background: #fbfbfb;}
     .search-v1 .tabs-area{border:none !important;margin-top: -18px;background: #fff;}
     .search-v1 #tabs-demo6 li{padding: 5px !important;}
     .search-v1 #tabs-demo6 li.active:after{
         border-color: rgba(185, 9, 8, 0);
         border-top-color: #fbfbfb;
         margin-top: 18px;
         z-index: 9
     }
     .search-v1 .search-v1-avatar{width: 80px;height: 80px;border-radius: 100%;margin-right: 10px;}
     .search-v1 #tabs-demo6,.search-v1 #tabs-demo6 a{background-color: #fbfbfb !important;}
     .search-v1 .tab-pane{padding: 20px;}
     .search-v1 .search-v1-menu1 .media-left{font-size: 2em;line-height: 0.7;font-weight: bold;padding-top: 10px;}
     .search-v1 .search-v1-menu1 .media-heading{font-size:17px;color: #2196F3 !important;font-weight: 600 !important;}
     .search-v1 .media{padding: 20px;}
     .search-v1 .media:nth-child(2n+2){
         background-color: rgba(0,0,0,0.02) !important;
     }
     .search-v1 .panel{
         border:none !important;
         -webkit-box-shadow: none !important;
         -moz-box-shadow: none !important;
         -ms-box-shadow: none !important;
         -o-box-shadow: none !important;
         box-shadow: none !important;
     }

     .search-v1 #search-v1-images{position: absolute;}

     .search-v1 #search-v1-images .post { height: 100px; background: cyan; margin-bottom: 20px; }
     .search-v1 #search-v1-images .tall { height: 200px; }
 }
 /*end: search v1*/

 /*=================Form===============*/

 .form-element .form-element-padding .form-group,
 .form-element .form-element-padding .input-group {
     padding: 15px;
 }


 .form-group.form-animate-text {
     position: relative;
     margin-bottom: 45px;
 }

 .form-group.form-animate-text .form-text {
     font-size: 18px;
     padding: 10px 10px 10px 5px;
     display: block;
     width: 100%;
     border: none;
     background:none;
     border-bottom: 1px solid #757575;
 }

 .form-group.form-animate-text .form-text:focus {
     outline: none;
 }

 .form-group.form-animate-text label {
     color: #999;
     font-size: 18px;
     font-weight: normal;
     position: absolute;
     pointer-events: none;
     left: 5px;
     top: 10px;
     -webkit-transition: 0.2s ease all;
     -moz-transition: 0.2s ease all;
     -ms-transition: 0.2s ease all;
     -o-transition: 0.2s ease all;
     transition: 0.2s ease all;
     -webkit-transition: 0.2s ease all;
     -moz-transition: 0.2s ease all;
     -ms-transition: 0.2s ease all;
     -o-transition: 0.2s ease all;
     transition: 0.2s ease all;
     -webkit-transition: 0.2s ease all;
     -moz-transition: 0.2s ease all;
     -ms-transition: 0.2s ease all;
     -o-transition: 0.2s ease all;
     transition: 0.2s ease all;
 }

 .form-group.form-animate-text.form-animate-error label{
     color:#FF968B !important;
 }


 .form-group.form-animate-text.form-animate-error .bar:before,.form-group.form-animate-text.form-animate-error .bar:after{
     background-color: #FF968B !important;
     width: 50%;
 }

 .form-group.form-animate-text.form-animate-error .form-animate-error-msg{
     color:#FF968B !important;
     font-size: 16px;
     display: none;
 }

 .form-group.form-animate-text .form-text:focus ~ label,
 .form-text:valid ~ label {
     top: -10px;
     font-size: 14px;
     color: #999C9E;
 }

 .form-group.form-animate-text .bar {
     position: relative;
     display: block;
     width: 100%;
 }

 .form-group.form-animate-text .bar:before,
 .bar:after {
     content: '';
     height: 2px;
     width: 0;
     bottom: 1px;
     position: absolute;
     background: #5264AE;
     -webkit-transition: 0.2s ease all;
     -moz-transition: 0.2s ease all;
     -ms-transition: 0.2s ease all;
     -o-transition: 0.2s ease all;
     transition: 0.2s ease all;
     -webkit-transition: 0.2s ease all;
     -moz-transition: 0.2s ease all;
     -ms-transition: 0.2s ease all;
     -o-transition: 0.2s ease all;
     transition: 0.2s ease all;
     -webkit-transition: 0.2s ease all;
     -moz-transition: 0.2s ease all;
     -ms-transition: 0.2s ease all;
     -o-transition: 0.2s ease all;
     transition: 0.2s ease all;
 }

 .form-group.form-animate-text .bar:before {
     left: 50%;
 }

 .form-group.form-animate-text .bar:after {
     right: 50%;
 }

 .form-group.form-animate-text .form-text:focus ~ .bar:before,
 .form-text:focus ~ .bar:after {
     width: 50%;
 }

 .form-group.form-animate-text .form-text:focus ~ .highlight {
     -webkit-animation: inputHighlighter 0.3s ease;
     -moz-animation: inputHighlighter 0.3s ease;
     -ms-animation: inputHighlighter 0.3s ease;
     -o-animation: inputHighlighter 0.3s ease;
     animation: inputHighlighter 0.3s ease;
     -webkit-animation: inputHighlighter 0.3s ease;
     -moz-animation: inputHighlighter 0.3s ease;
     -ms-animation: inputHighlighter 0.3s ease;
     -o-animation: inputHighlighter 0.3s ease;
     animation: inputHighlighter 0.3s ease;
     -webkit-animation: inputHighlighter 0.3s ease;
     -moz-animation: inputHighlighter 0.3s ease;
     -ms-animation: inputHighlighter 0.3s ease;
     -o-animation: inputHighlighter 0.3s ease;
     animation: inputHighlighter 0.3s ease;
 }

 @keyframes rippleForm {
     from {
         -webkit-opacity: 0.8;
         -moz-opacity: 0.8;
         -ms-opacity: 0.8;
         -o-opacity: 0.8;
         opacity: 0.8;
         filter: alpha(opacity=80);
         background-color: #ddd;

     }
     to {
         -webkit-transform: scale(2.5);
         -moz-transform: scale(2.5);
         -ms-transform: scale(2.5);
         -o-transform: scale(2.5);
         transform: scale(2.5);
         -webkit-transform: scale(2.5);
         -moz-transform: scale(2.5);
         -ms-transform: scale(2.5);
         -o-transform: scale(2.5);
         transform: scale(2.5);
         -webkit-opacity: 0;
         -moz-opacity: 0;
         -ms-opacity: 0;
         -o-opacity: 0;
         opacity: 0;
         filter: alpha(opacity=0);
     }
 }
 @-webkit-keyframes inputHighlighter {
     from {
         background: #5264AE;
     }
     to {
         width: 0;
         background: transparent;
     }
 }
 @-moz-keyframes inputHighlighter {
     from {
         background: #5264AE;
     }
     to {
         width: 0;
         background: transparent;
     }
 }
 @keyframes inputHighlighter {
     from {
         background: #5264AE;
     }
     to {
         width: 0;
         background: transparent;
     }
 }



 /* ---------------------------------------- */
 /* ------------  RESPONSIVE   ------------- */
 /* ---------------------------------------- */

 @media only screen and (max-width: 800px){
     .search-nav{
         display: none !Im;
     }
 }

 @media only screen and (max-width: 479px) {
     .search-nav{
         display: none;
     }
 }
