/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
*     Page de style pour le panier
* ======================================
*
*
*    01 -> PANIER
*    02 -> PANIER - ETAPE 2
*    03 -> PANIER - ETAPE 3
*    04 -> PANIER - ETAPE 4
*    05 -> BOUTON
*    06 -> RESPONSICE
*
*/


/* --------------------------------------------- */
/* ---------------     PANIER     -------------- */
/* --------------------------------------------- */

/* panier : stepper / etape */
#step{
    margin-top: 20px;
    margin-bottom: 40px;
}

#step .stepper-horiz, #step .stepper{
    background-color: #fafafa;
}

/* debut -> panier : box-shopping : table */

#box-shopping .table,
#mode-livraison .table,
#box-address-livraison .table,
#box-paiement .table{
    background-color: inherit;
}

/* box-shopping : general */
#box-shopping thead th{
    color: #dd9933;
    font-size: 17px;
    font-weight: 500;
}

/* box-shopping : product */
#box-shopping .product img{
    width: 119px;
}

#box-shopping .product a{
    position: absolute;
    margin-left: 20px;
}

#box-shopping .product h1{
    font-size: 14px;
    font-weight: 500;
    color: #DF9A23;
    padding: 5px 0;
}

#box-shopping .product p{
    font-weight: 100;
    font-size: 11px;
    color: #2B2C2C;
    padding: 13px 0;
}

#box-shopping .product span{
    font-size: 12px;
    font-weight: 300;
    color: #DF9A23;
    letter-spacing: -0.1px;
}

/* box-shopping : icon */
#box-shopping .icon{
    vertical-align: middle;
    text-align: center;
}
#box-shopping .favorite{
    position: relative;
    left: 13px;
    top:inherit;
}

#box-shopping .favorite::after{
    font-size: 1.8rem;
}

#box-shopping .delete
{
    position: relative;
    /* top: 9px; */
    left: 33px;
    color: #C6C6C6;
    width: 17px;
    height: 17px;
}
#box-shopping .delete::after
{
    font-family: 'FontAwesome';
    content:'\f014';
    font-size: 1.8rem;
}

/* box-shopping : quantite */
#box-shopping .quantite{
    vertical-align: middle;
}

#box-shopping .quantity_selector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: solid 1px #85002b;
}

#box-shopping .minus-btn, #box-shopping .plus-btn{
    padding: 5px 5px 0 5px;
    cursor: pointer;
    background-color: inherit;
    border: initial;
}

#box-shopping .quantity_selector input{
    width: 15px;
    background-color: inherit;
    border: initial;
}

/* box-shopping : prix */
#box-shopping .prix{
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    color: #DD9933;
    font-weight: 500;
}

/* box-shopping : form-bonReduc */
#box-bonReduc .case{
    border: 1px solid #D8D8D8;
    background-color: inherit;
    height: 40px;
    line-height: 40px;
    width: 240px;
    border-radius: 3px;
}

#box-bonReduc label{
    font-size: 18px;
    vertical-align: middle;
    margin-right: 1rem;
}

#box-bonReduc .btn{
    min-width: 40px;
    bottom: 2.5rem;
    left: 26rem;
    border-radius: 3px !important;
    height: 40px;

}

#box-bonReduc input:focus {
  border: 1px solid #dd8833 !important;
}
/* fin -> panier : box-shopping : table */


/* debut -> box-shopping : card-commande */

/* card-commande sticky */
#box-shopping .sticky,
#box-address .sticky,
#box-paiement .sticky{
    position: sticky;
    top: 150px;
    margin-bottom: 15px;
}

/* card-commande : card-body */
#card-commande .card-title{
    color: #DF9A23;
    text-align: center;
    text-transform: uppercase;
}

#card-commande .card-body > :last-child{
    margin-bottom: -15px;
}

/* card-commande : table */
#card-commande .table td{
    border-top: inherit;
}

/* card-commande : list-groupe */
#card-commande .btn{
    width: 100%;
    line-height: 30px;
    font-size: 20px;
}


/* fin -> box-shopping : card-commande */

/* debut -> box-shopping : panier_estimation */
#box-shopping .panier_estimation h1{
    border-top: 1px solid #DBDBDB;
    padding: 25px 0;
    font-size: 25px;
    font-weight: 500;
    color: #DF9A23;
    text-transform: uppercase;
}

#box-shopping .panier_estimation p{
    background: #B80000;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    padding: 5px;
}

#box-shopping .panier_estimation p a{
    font-weight: bold;
}
/* fin -> box-shopping : panier_estimation */

/* --------------------------------------------- */
/* ----------     PANIER - ETAPE 2     --------- */
/* --------------------------------------------- */
#mode-livraison h1{
    color: #dd9933;
    text-align: center;
    font-size: 19px;
    padding: 10px 0;
    padding-bottom: 20px;
}

#box-address-livraison h1{
    color: #dd9933;
    text-align: center;
    font-size: 21px;
    padding: 30px 0;
}

#mode-livraison .check-radio{
    vertical-align: middle;
}

#mode-livraison .transport img{
    width: 80px;
}

#mode-livraison .offert{
    color: #dd9933;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

/* adresse-livraison : general */
#box-address-livraison .table{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#box-address-livraison thead th{
    color: #dd9933;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

#box-address-livraison td a{
    color: #dd9933;
    line-height: 30px;
}

/* debut -> form_address-livraison */
#box-address-livraison .card{
    border-radius: 10px;
    margin: 2rem 0;
    background: #f8f8f8;
    padding-bottom: 15px;
}

#box-address-livraison form{
    margin: 20px 40px;
}

#box-address-livraison .form-check-label{
    font-size: 16px;
    margin: 15px 0;
}

#box-address-livraison .attention{
    float: right;
    margin: 10px 0;
    color: #d80000;
    font-weight: 300;
    font-size: 15px;
}

#box-address-livraison .case{
    width: 100%;
    padding: 10px;
    background: #F8F8F8 !important;
    border: 0 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px #AAA;
    box-shadow: 0px 0px 3px #AAA;
    margin: 20px 0;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

#box-address-livraison .form-control:focus{
    border: 1px solid #dd8833 !important;
}

#box-address-livraison .case-select{
    width: 100%;
    border: 0 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px #AAA;
    box-shadow: 0px 0px 3px #AAA;
    margin: 20px 0;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

#box-address-livraison .panel-edit-address .btn-success{
    background-color: #dd8833;
    float: right;
    font-size: 17px;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    bottom: 3rem;
}

/* fin -> form_address-livraison */

#box-address-livraison .new-address{
    text-align: center;
    font-size: 18px;
    color: #dd8833;
    margin: 15px 0;
}


/* --------------------------------------------- */
/* ----------     PANIER - ETAPE 3     --------- */
/* --------------------------------------------- */

#mode-paiement h1{
    color: #dd9933;
    text-align: center;
    font-size: 21px;
    padding: 10px 0;
    padding-bottom: 31px;
}

#box-paiement img{
    width: 50px;
}

#box-paiement .check-radio{
    vertical-align: middle;
}

#box-paiement .paiement-txt{
    font-size: 20px;
    width: 70%;
}

#mode-paiement tr {
    border-bottom: 1px solid #DBDBDB;
}


/* --------------------------------------------- */
/* ---------------     BOUTON    --------------- */
/* --------------------------------------------- */
#box-shopping .btn-success,
#box-address .btn-success,
#box-paiement .btn-success{
    background-color: #dd8833;
}

#box-shopping .btn-shopping,
#box-address-livraison .btn-shopping,
#box-paiement .btn-shopping,
#box-final .btn-shopping{
    margin: 0;
    padding: 20px 0 20px 0;
    border-top: 1px solid #DBDBDB;
}

#box-address-livraison .btn-shopping{
    border-bottom: 1px solid #DBDBDB;
}

#box-shopping .btn-shopping .btn-continuer,
#box-address-livraison .btn-shopping .btn-continuer,
#box-paiement .btn-shopping .btn-continuer,
#box-final .btn-continuer{
    float: right;
    background-color: #dd8833;
}

#box-shopping .btn-shopping .btn-retour,
#box-shopping .btn-shopping  .btn-continuer,
#box-address-livraison .btn-shopping .btn-retour,
#box-address-livraison .btn-shopping .btn-continuer,
#box-paiement .btn-shopping .btn-retour,
#box-paiement .btn-shopping .btn-continuer,
#box-final .btn-shopping .btn-retour,
#box-final .btn-shopping .btn-continuer{
    line-height: 40px;
    font-size: 20px;
}

/* --------------------------------------------- */
/* ----------     PANIER - ETAPE 4     --------- */
/* --------------------------------------------- */

#box-final .card{
    margin-bottom: 2rem;
}

#box-final .icon-emotsmile{
    color: #13A513;
    font-size: 40px;
    padding-right: 1rem;
}

#box-final .card-text p{
    font-size: 15px;
    padding: 10px 0;
}

#box-final .card-text span{
    font-weight: bold;
}

/* --------------------------------------------- */
/* -----------     RESPONSICE    --------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 960px){


    /* PANIER */

    #box-shopping .favorite::after, #box-shopping .delete::after{
        font-size: 20px;
    }

    #box-shopping .favorite{
        left: 57px;
        top: -21px;
    }

    #box-shopping .delete{
        left: 37px;
        top: 9px;
    }

    /* PANIER-STEP3 */
    #box-paiement .btn-success{
        font-size: medium;
    }
}


@media only screen and (max-width: 479px){
    /* GENERAL */
    #stepper-mobile .stepper-vert,
    #stepper-mobile .stepper{
        background-color: #fafafa;
    }


    /* PANIER */
    #box-shopping .product a{
        margin-left: inherit;
    }


    #box-shopping .product h1{
        padding: inherit;
        margin: inherit;
        margin-left: 0;
    }

    #box-shopping .product p{
        padding: inherit;
    }

    #box-bonReduc div{
        margin: 40px 10px;
    }

    #box-bonReduc label{
        margin-top: -40px;
        color: inherit;
    }

    #box-bonReduc .btn{
        margin: 0;
        left: inherit;
        bottom: 20px;
    }

    #card-commande .box-help h1,
    #card-produit .box-help h1{
        margin: inherit;
    }

    #box-shopping .btn-retour,
    #box-shopping .btn-continuer{
        line-height: 20px;
        font-size: 10px;
    }

    #box-shopping .panier_estimation h1{
        padding: 18px 0;
        font-size: 18px;
        padding-bottom: 15px;
    }

    /* PANIER-STEP2 */
    #box-address-livraison .card{
        padding-bottom: 4rem;
    }

    #box-address input[type="checkbox"], input[type="radio"]{
        width: 1rem;
    }

    #box-address-livraison .form-check-inline .form-check-label{
        top: 0;
    }

    #box-address-livraison form{
        margin: auto 20px;
    }

    #box-address-livraison .left{
        left: 6rem;
    }

    #box-address-livraison .form-check .form-check-label{
        margin: 0;
        font-size: small;
        width: 16%;
    }

    #box-address-livraison .form-check .form-check-label span{
        white-space:nowrap;
    }

    /* PANIER-STEP4 */
    #box-final .card-title{
        text-align: center;
    }

    /* BOUTON */
    #box-shopping .btn-shopping .btn-retour,
    #box-shopping .btn-shopping .btn-continuer,
    #box-address-livraison .btn-shopping .btn-retour,
    #box-address-livraison .btn-shopping .btn-continuer,
    #box-paiement .btn-shopping .btn-retour,
    #box-paiement .btn-shopping .btn-continuer,
    #box-final .btn-shopping .btn-retour,
    #box-final .btn-shopping .btn-continuer{
        line-height: 23px;
        font-size: medium;
        white-space: inherit;
    }


    #box-address-livraison .panel-edit-address .btn-success{
        bottom: -14px;
    }

    #box-address-livraison .btn-shopping .btn-continuer,
    #box-paiement .btn-shopping .btn-retour,
    #box-final .btn-shopping .btn-continuer{
        line-height: 46px;
    }

}
