/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
*     Page de style pour les produit
* ======================================
*
*
*    01 -> GALLERY
*    02 -> INFO - PRODUIT
*    03 -> SLIDER-PRODUIT
*    06 -> RESPONSICE
*
*/

/* --------------------------------------------- */
/* -------------     GALLERY    ---------------- */
/* --------------------------------------------- */

/* debut -> gallery / card */
#gallery{
    margin-left: 4rem;
}

#gallery-envies{
    margin-left: 5px;
}

#gallery .col-lg-6,
#gallery-envies .col-lg-6{
    margin-bottom: 3rem;
}

#gallery .card,
#gallery-envies .card{
    padding: 13px;
}

.img-produit {
    transform: rotate(180deg);
}

#gallery .card:active, #gallery .card:focus, #gallery .card:hover,
#gallery-envies .card:active, #gallery-envies .card:focus, #gallery-envies .card:hover{
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12),
    0 4px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12),
    0 4px 15px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    height: 430px;
}

#gallery .card-body,
#gallery-envies .card-body{
    padding: 1rem 0;
}

#gallery .card-title,
#gallery-envies .card-title{
    font-weight: lighter;
    margin-bottom: 0
}

#gallery .prix,
#gallery-envies .prix{
    right: 0;
    position: absolute;
    padding-right: 13px;
    top: 17.8rem;
    font-size: 20px;
    font-weight: bold;
}
/* debut -> gallery / card */

/* debut -> gallery : hovered */
.hovered{
    position: absolute;
    top: 20.5rem;
    padding-right: 13px;

    visibility: hidden;
    opacity: O;
}

#gallery .card:hover .hovered,
#gallery-envies .card:hover .hovered,
#slider-produit .card:hover .hovered{
    visibility: visible;
    opacity: 1;
}

.hovered p{
    padding-bottom: 15px;
}

#gallery .btn-addcart{
    background-color: #dd9933;
}
/* fin -> gallery : hovered */

/* debut -> gallery : favorite */

.favorite
{
    position: absolute;
    top: 9px;
    right: 33px;
    color: #C6C6C6;
    width: 17px;
    height: 17px;
}

.product-item:hover .favorite
{
    visibility: visible;
    opacity: 1;
}
.favorite.active::after
{
    font-family: 'FontAwesome';
    content:'\f004';
    color: #fe4c50;
    font-size: 2rem;
}
.favorite::after
{
    font-family: 'FontAwesome';
    content:'\f08a';
    font-size: 2rem;
}
.favorite:hover::after
{
    color: #fe4c50;
}

/* fin -> gallery : favorite */

/* debut -> gallery : box-produit */
.box-product{
    position: absolute;
    top: 20px;
    width: auto;
    border-radius: 3px 14px;
    text-transform: uppercase;

    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    text-align: center;
    padding: 3px 10px;
}
.product-new{
    background: #4caf50;
    left: 20px;
}

.product-promo{
    background: #F44336;
    left: 20px
}
/* fin -> gallery : box-produit */

/* --------------------------------------------- */
/* -----------     INFO - PRODUIT    ----------- */
/* --------------------------------------------- */

/* debut -> info-produit : img */
#info-produit{
    margin-top: 3rem;
}

#info-produit .img-item{
    position: relative;
    float: left;
    margin: 20px 30px 30px 0;
    width: 100px;
    cursor: pointer;
}

.img-list .active{
    border: 1px solid #b80000;
}
/* fin -> info-produit : img */

/* debut -> info-produit : bouton */
#info-produit .btn-warning{
    border: 1px solid #dd9933;
    background: inherit;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    height: 60px;
    width: 100%;
    color: #dd9933;
    margin: 20px 0;
    padding: 15px 0;
}

#info-produit .icon-printer, #info-produit .fa-envelope-o{
    vertical-align: middle;
    padding-right: 1rem;
    font-size: 30px;
    color: #dd9933;
}

#info-produit .btn-media .media-item{
    width: 35px;
    position: relative;
    float: left;
    margin: 17px 5px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12),
    0 4px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12),
    0 4px 15px 0 rgba(0, 0, 0, 0.2);
}
/* fin -> info-produit : bouton */

/* debut -> info-produit : card-produit */

#card-produit{
    height: 400px;
}

/* info-produit : prix */
#card-produit .prix{
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    color: #dd9933;
}

#card-produit span{
    font-weight: normal;
    font-style: normal;
    color: #2B2C2C;
}

#card-produit .prix-info{
    float: right;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #9b9b9b;
    top: -1.5rem;
}

/* info-produit : quantity */
#card-produit .quantity_selector{
    -webkit-display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 132px;
    border: solid 1px #e5e5e5;
}

#card-produit .minus-btn, #info-produit .plus-btn{
    padding: 7px 14px 0 14px;
    cursor: pointer;
    background-color: inherit;
    border: initial;
}

#card-produit .quantity_selector input{
    width: 15px;
    background-color: inherit;
    border: initial;
}

/* info-produit : btn-avoir */
#card-produit .btn-outline-warning{
    color: #dd9933;
    position: relative;
    float: right;
    top: -2.3rem;
    font-size: 18px;
}

/* info-produit : btn-add-bag */
#card-produit .btn-success{
    background: #dd9933;
    font-size: 20px;
    color: #fff;
    width: 100%;
    padding: 18px 15px 5px 15px;
    top: -15px;
}

#card-produit img{
    width: 35px;
    position: relative;
    top: -8px;
    right: 15px;
}

/* info-produit : favorite */
#card-produit .favorite{
    left: 1rem;
    top: 0;
    color: #979797;
}

#card-produit .favori-text{
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    padding-left: 70px;
}

/* info-produit : box-help  & card-commande : box-help*/
#card-produit .box-help, #card-commande .box-help{
    background: #C6C6C6;
    color: #fff;
    text-align: center;
    height: 100px;
}

#card-produit .box-help h1, #card-commande .box-help h1{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 15px;
}

#card-produit .box-help p, #card-commande .box-help p{
    font-size: 13px;
    font-weight: normal;
}
/* fin -> info-produit card-produit */

/* debut -> info-produit : card-file */
#card-file{
    margin: 2rem 0;
}

/* info-produit : nav-header */
#card-file img{
    width: 30px;
}

#card-file .nav-tabs .nav-link.active{
    color: #2B2C2C;
}

#card-file .nav-tabs .nav-link::before{
    background-color: #2B2C2C;
}

#card-file .nav-tabs .nav-link{
    width: 286.67px;
    text-align: center;
}

#card-file .nav-tabs .nav-link:active{
    box-shadow: inherit;
}

/* info-produit : info-list */
#card-file .info-item, #card-file .fileTech-item{
    padding: 15px;
    border: 0;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);

    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

#card-file .separ{
    border-bottom: 1px solid #979797;
}

#card-file .title, #card-file .td-title{
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
}

#card-file span, #card-file .product-description, #card-file .td-descrip{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}
/* fin -> info-produit : card-file */

/* --------------------------------------------- */
/* -----------     SLIDER-PRODUIT    ----------- */
/* --------------------------------------------- */

/* GENERAL */
#slider-produit .card{
    padding: 8px;
}


#slider-produit .card:active,
#slider-produit .card:focus,
#slider-produit .card:hover{
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12),
    0 4px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12),
    0 4px 15px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    height: 400px;
}

#slider-produit .favorite{
    width: 10px;
    height: 10px;
    top: 5px;
    right: 21px;
}

#slider-produit .favorite::after{
    font-size: 20px;
}

#slider-produit .box-product{
    top: 10px;
    font-size: medium;
    left: 10px;
}

#slider-produit .card-title{
    font-size: small;
    width: 80%;
    margin-left: -11px;
}

#slider-produit .prix{
    right: 0;
    position: absolute;
    padding-right: 14px;
    font-size: medium;
    font-weight: bold;
    top: 11.5rem;
}

#slider-produit .hovered{
    top: 14.5rem;
}

/* bouton */

#slider-produit .btn-light{
    line-height: 40px;
}

#slider-produit .btn-success{
    font-size: small;
    white-space: normal;
}

/* --------------------------------------------- */
/* -----------     RESPONSICE    --------------- */
/* --------------------------------------------- */

@media only screen and (max-width: 960px){

    #gallery{
        margin-top: 1rem;
    }

    .nav-md .dropdown-toggle{
        border: 1px solid #dd9933;
        background: inherit;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        height: 60px;
        color: #dd9933;
        margin: 0;
        padding: 15px;
        top: -1rem;
    }

    #gallery .prix, #gallery-envies .prix{
        top:16rem;
    }

    #gallery .btn-addcart{
        font-size: small;
        padding-left: 11px;
    }

    /* PRODUIT */
    #info-produit .btn-warning{
        font-size: inherit;
    }

    #info-produit .btn-media .media-item{
        width: 31px;
        margin: 17px 3px;
    }

    #card-produit .btn-success{
        font-size: 17px;
    }

    #card-produit .favori-text{
        font-size: medium;
        white-space: nowrap;
    }
    #card-produit .favorite{
        top: 6px;
    }
    #card-produit .favorite::after{
        font-size: 1.7rem;
    }
    #card-produit .box-help h1,
    #card-commande .box-help h1{
        font-size: 15px;
        font-weight: inherit;
    }

    /* slider-produit */
    #slider-produit .card{
        height: 200px;
    }

    #slider-produit .card:active,
    #slider-produit .card:focus,
    #slider-produit .card:hover{
        height: 370px;
    }

    #slider-produit .prix{
        top: 9.5rem;
    }

    #slider-produit .hovered{
        top: 12.5rem;
    }

    #slider-produit .btn-light{
        margin-left: -5px;
    }

    #slider-produit .btn-success{
        margin-left: -8px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 940px){
    /* GALLERY */
    #gallery .card:active,
    #gallery .card:focus,
    #gallery .card:hover{
        height: 600px;
    }
    #gallery .prix{
        top: 25.5rem;
        right: 4px;
    }
    
    .hovered{
        top: 30rem;
        text-align: center;
    }
    .hovered p{
        text-align: left;
    }

    /* Produit */
    #info-produit .btn-media{
        padding-left: 135px;
        padding-bottom: 6rem;
    }
    #info-produit .btn-media .media-item{
        width: 50px;
        margin: 17px 8px;
    }
    #slider-produit{
        display: none;
    }
}


@media only screen and (max-width: 479px){
    /* nav-md */
    .nav-md{
        top: -1rem;
    }

    .nav-md .dropdown-toggle{
        width: 100%;
        top: inherit;
    }

    .nav-md .dropdown-menu{
        width: 94%;
    }

    /* gallery */
    #gallery{
        margin-left: 0;
    }

    #gallery .col-12{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #gallery .prix{
        top: 15rem;
    }

    .hovered{
        top: 18rem;
    }

    #gallery .btn-light{
        font-size: small;
    }

    #gallery .btn-success{
        font-size: unset;
        padding-left: 7px;
    }

    #gallery .card:active,
    #gallery .card:focus,
    #gallery .card:hover{
        height: 400px;
    }

    /* Produit */
    #info-produit .btn-media{
        padding: 0 2.5rem 5rem 4rem;
    }

    #card-file img{
        width: 20px;
    }

    #card-file .nav-tabs .nav-link{
        width: 143px;
        font-size: 12px;
    }


}
