/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
 *    Page de style RESPONSICE
 * ======================================*/

.visible-lg, .visible-md, .visible-sm {
    display: none;
}

.visible-xs {
    display: inline-block;
}

@media (min-width: 600px) {
    .visible-xs {
        display: none;
    }

    .visible-sm {
        display: inline-block;
    }
}
@media (min-width: 960px) {
    .visible-sm {
        display: none;
    }

    .visible-md {
        display: inline-block;
    }
}
@media (min-width: 1200px) {
    .visible-md {
        display: none;
    }

    .visible-lg {
        display: inline-block;
    }
}
