/*
Theme Name: cdubelge
Theme URL: http://www.cdubelge.be
Author: Enza Lombardo

Description: Le thème de cdubelge
Version: 2.0
*/


/* ======================================
 *    Page de style GENERAL
 * ======================================*/

/* -------------------------------------------- */
/* ----------------  Reset  ------------------- */
/* -------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
iframe {border:0; margin:0; padding:0;}


/* --------------------------------------------- */
/* -------------      utile      --------------- */
/* --------------------------------------------- */

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clear-both{
    clear: both;
}


/* -------------------------------------------- */
/* -------------    General    ---------------- */
/* -------------------------------------------- */
html,
body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body{
    font-family: 'Roboto';
    font-weight: normal;
    color: #2B2C2C;
}

a {
    text-decoration: none;
    color: inherit;
}

main{
    background: #FAFAFA;
    padding-bottom: 1.5rem;
}

#mimin-mobile-menu-opener {
    width: 70px!important;
    min-width: 70px!important;
    max-width: 70px!important;
    cursor: pointer;
}

.no-visible{
    display: none;
}

.showMessage{
    background: #dd9933;
    color: #fff;
    padding: 2.5em 2em;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    display: none;
    vertical-align: middle;
    font-size: 20px;
    z-index: 100000;
    top:16em;
    right: 2em;
}






/* --------------------------------------------- */
/* -----------     RESPONSICE    --------------- */
/* --------------------------------------------- */
@media only screen and (max-width: 960px){
    .no-visible-md{
        display: none;
    }

    .visible{
        display: block;
    }
}

@media only screen and (min-width: 480px) and (max-width: 940px){
    /* -- GENERAL -- */
    .no-visible .no-visible-sl{
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    /* -- GENERAL -- */
    .no-visible .no-visible-sl{
        display: none;
    }

    .visible{
        display: block;
    }

    .no-visible-sl{
        display: none;
    }

    .showMessage{
        width: 95%;
        padding: 1.5em 2em;
        right: 9px;
    }

}
